@using System.Web.Mvc.Html
@model IEnumerable<BookLibrary.Models.Book>

@foreach (var book in Model.Where(b => b.Owner == null))
{
    <tr>
        <td>
            @Html.DisplayFor(m => book.Title)
        </td>
        <td>
            @Html.DisplayFor(m => book.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(m => book.Author.FirstName) @Html.DisplayFor(m => book.Author.LastName)
        </td>
        <td>
            @Html.DisplayFor(m => book.Isbn)
        </td>
        <td>
            @if (book.Owner == null)
            {
                using (Html.BeginForm("CheckIn", "Books", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", book.Id)
                    <input type="submit" value="Check IN" />
                }
            }
            else
            {
                if (book.Owner.UserName == User.Identity.Name)
                {
                    using (Html.BeginForm("CheckOut", "Books", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", book.Id)
                        <input type="submit" value="Check OUT" />
                    }
                }
                else
                {
                    var mail = book.Owner.UserName;
                    <a href="mailto:@mail">@mail</a>
                }
            }
        </td>
    </tr>
}
