@model IEnumerable<BookLibrary.Models.Book>

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <p>
        Category: @Html.DropDownList("bookCategory", "All")
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th></th>
    </tr>
    @Html.Partial("_BooksList")
</table>
