@model IEnumerable<BookLibrary.Models.Book>

@{
    ViewBag.Title = "Index";
}
<h2>All Books</h2>
@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <p>
        Category: @Html.DropDownList("bookCategory", "All")
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th></th>
    </tr>
    @Html.Partial("_AllBooks")
</table>
